.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.article_title {
  color: white;
  background-color: var(--font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  border: none;
}
.article_title.logement {
  height: 52px;
  line-height: 25.67px;
  border-radius: 10px;
  font-size: 18px;
}
.article_title.valeur {
  height: 47px;
  border-radius: 5px;
  font-size: 24px;
}

.article_title span {
  padding-left: 20px;
}

.article_arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--font-color);
  border: none;
  padding-right: 20px;
}

.article_arrows .closed.invisible {
  display: none;
}

.article_arrows .opened.invisible {
  display: none;
}

/* .article_arrows:hover {
  cursor: pointer;
} */
.article_title:hover {
  cursor: pointer;
}

.article_text {
  width: 100%;
  /* padding: 1vw; */
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: #f6f6f6;
  color: var(--font-color);
  border-radius: 0 0 5px 5px;
  font-size: 1.25vw;
  font-weight: 400;
}
.article_text.logement {
  font-size: 1.25vw;
  line-height: 1.8vw;
  padding-top: 20px;
  min-height: 160px;
}
.article_text.valeur {
  font-size: 1.667vw;
  line-height: 2.38vw;
}

.article_text p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.article_text.invisible {
  display: none;
}

@media (max-width: 871px) {
  .article_text {
    padding-top: 3vw;
  }
  .article_title.logement,
  .article_title.valeur {
    height: 30px;
    font-size: 13px;
    line-height: 18.54px;
    border-radius: 5px;
  }
  .article_text.logement,
  .article_text.valeur {
    font-size: 12px;
    line-height: 17.11px;
  }
  .article_text.logement {
    min-height: unset;
  }

  .article_text.valeur {
    min-height: 130px;
  }
  .article_arrows img {
    width: 14px;
    height: 7px;
  }
}
