.footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_fix{
    position: fixed;
    bottom: 0;
}