.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 415/1240 */
  height: 33vw;
  width: 100%;
}

.container_arrows {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  max-width: 1240px;
}
@media (min-width: 1440px) {
  .container_arrows {
    width: 1240px;
  }
}
@media (max-width: 871px) {
  .container_arrows {
    max-width: 100%;
  }
}

.arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.arrow_left:hover,
.arrow_right:hover {
  cursor: pointer;
}

.gallery_image {
  width: 100%;
}

.gallery_image img {
  height: 29vw;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
}

@media (max-width: 871px) {
  .gallery {
    margin-top: 15px;
    height: 68vw;
  }
  .gallery_image img {
    border-radius: 10px;
    height: 68vw;
  }

  .arrow_left img,
  .arrow_right img {
    height: 5vw;
    width: auto;
    object-fit: cover;
  }
}
