
.cards {
  background-color: #F7F7F7;
  border-radius: 25px;
  margin-top: 40px;
  display: grid;
  /* 50/1240 */
  row-gap: 4vw;
  justify-content: space-around;
  /* gap: 4vw; */
  /* 1240/340 */
  grid-template-rows: 24vw 24vw;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  /* 50/1240 */
  padding-top: 4vw;
  padding-bottom: 4vw;
}


.house {
  /* width: 27vw;
  height: 27vw; */

  border-radius: 10px;
  display: flex;
  align-items: baseline;
}
.housecard {
  width: 24vw;
  height: 24vw;
  border-radius: 10px;
  display: flex;
  align-items: baseline;
}


img.cover {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title{
  position: absolute;
  align-self: flex-end;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  /* 200/1240 */
  width: 16vw;
  color: white;
}

