.cards {
  background-color: #f7f7f7;
  border-radius: 25px;
  margin-top: 40px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4.16vw;
  column-gap: 1vw;
  justify-content: space-between;
  padding: 2.47vw;
}

.house {
  border-radius: 10px;
  display: flex;
  align-items: baseline;
}
.housecard {
  min-width: 100%;
  /* height: 255px; */
  width: 340px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* background-image: url("/public/assets/FondVignette.png"); */
  opacity: 100%;
  /* background-color: black; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

img.cover {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 70%;
}

.title {
  position: absolute;
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  /* 200/1240 */
  width: 15%;
  color: white;
}

@media (max-width: 1440px) {
  .housecard {
    min-width: 100%;
    /* height: 255px; */
    width: 23.6vw;
    height: 23.6vw;
  }
}

@media (max-width: 871px) {
  .cards {
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 30px;
    padding: 0;
    align-items: center;
  }

  .housecard {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    /* width: 335px; */
    height: 340px;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
