.logement_detail {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 75px;
}

@media (max-width: 871px) {
  .logement_detail {
    flex-direction: column;
    row-gap: 20px;
  }
}
