.tags_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tag {
    color: white;
    background-color: var(--font-color);
    font-size: 14px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 115px;
    text-align: center;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}