.valeurs{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
}

@media (max-width: 871px){
    .valeurs{
        width: 100%;
    }
}